<div class="hero-unit post">
  <span class="post-title"><%= post.title %></span>
  <span class="content"><%= raw post.content %></span>
  <span class="timestamp">
    Posted <%= post.created_at.to_date %>
  </span>
  <span class="tags">Tags: <%= post.tags %></span>
  <% if current_user && current_user.admin? %>
    <%= link_to "edit", edit_post_path(post.id) %> |
    <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</div>